<div class="jumbotron jumbotron-landing">
  <h1 class="display-4">Делитесь своими эмоциями</h1>
  <p class="lead">Размещайте свои фотографии и фотографии ваших друзей.</p>
  <hr class="my-4">
  <a class="btn btn-secondary text-white" href="#" role="button">Создать аккаунт</a>
  <a class="btn btn-primary text-white" href="#" role="button">Войти</a>
